{% extends "base.html" %}

{% if user %}
    {% set user = user %}
{% endif %}

{% block content %}
    {% if user %}
        <form action="{{ url('create_message') }}" method="post">
            <div class="form-group">
                <label class="pull-left" for="messageFormControlTextarea">Enter your message:</label>
                <button class="pull-right btn btn-danger btn-raised" type="submit">Schedule</button>
                <input class="form-control" type="date" id="departing" name="date">
                <textarea class="form-control" id="messageFormControlTextarea" maxlength="250" rows="2" name="message"></textarea>
            </div>
        </form>
    {% endif %}
{% endblock %}
