{% extends "base.html" %}

{% if user %}
    {% set user = user %}
{% endif %}

{% block content %}
    <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>UUID</th>
                {% if text %}
                <th>Cleartext</th>
                {% endif %}
                <th>Scheduled date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ message.uuid }}</td>
                {% if text %}
                <td>{{ text.decode('UTF-8') }}</td>
                {% endif %}
                <td>{{ message.expires.date() }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
