{% extends "base.html" %}

{% if user %}
    {% set user = user %}
{% endif %}

{% block content %}
    <table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Scheduled date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr class='clickable-row' data-href='{{ url('message_detail', uuid=message.uuid) }}'>
                    <td>{{ message.uuid }}</td>
                    <td>{{ message.expires.date() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
